.typewriter {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
}
.tw-head {
  font-size: 22px;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  margin-top: 6px;
  color: #eff;
}
#tw-span {
  font-size: 22px;
  color: #0ef;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.logo {
  animation: slideRight 1s ease forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.technical-bars .bar .progress-line {
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
.technical-bars .bar .progress-line span {
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.technical-bars .bar .info span {
  animation: showText 0.5s 1.5s linear forwards;
}
.progress-line span::after {
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
.progress-line span::before {
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}
.radial-bars .radial-bar .progress-bar {
  animation: animate-bar 1s linear forwards;
}
@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 50;
  }
}
@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 175;
  }
}
@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 125;
  }
}
@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 75;
  }
}
.path-1 {
  animation: animate-path1 1s 1s linear forwards;
}
.path-2 {
  animation: animate-path2 1s 1s linear forwards;
}
.path-3 {
  animation: animate-path3 1s 1s linear forwards;
}
.path-4 {
  animation: animate-path4 1s 1s linear forwards;
}
.radial-bar .percentage {
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.radial-bar .text {
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Add animation to image */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.bouncing {
  animation: bounce 2s ease-in-out infinite;
}